@page "/"

@using PruebaProyecto.Services

@inject AuthService AuthService
@inject TokenService TokenService
@inject NavigationManager NavigationManager

<PageTitle>Counter</PageTitle>

<button class="btn btn-primary" @onclick="Login">Login</button>
<button class="btn btn-primary" @onclick="Logout">Logout</button>

@code {
    private async Task Login()
    {
        string? token = await AuthService.Login();
        await TokenService.SetTokenAsync(token);

        if (!string.IsNullOrEmpty(token))
        {
            NavigationManager.NavigateTo("/ubicaciones");
        }

    }

    private async Task Logout()
    {
        await TokenService.ClearTokenAsync();
    }
}
