@using PlantillaComponents.Components.SideMenu
@using PlantillaComponents.Services
@inherits LayoutComponentBase
@inject ThemeService ThemeService

<div class="flex justify-around h-screen">
    <div class="w-60">
        <SideMenu />
    </div>
    <main class="h-full w-full overflow-y-auto p-4">
        <article class="content">
            @Body
        </article>
    </main>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        await ThemeService.InitializeAsync();
    }
}
